.showLabelError {
  color: red!important;
}

.labelStyle {
  color:black!important;
}

.showInputError {
  border: 1px solid #DB0020!important;
  //margin-top: 6px;
}

.validation-wrapper {
  padding: 15px;
}
